body {
    background-color: #ade8f4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 20px;
    background-color: #48cae4;
    margin-top: 10px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

.logo {
    text-align: center;
}

.main-container {
    height: 400px;
    width: 40%;
    background-color: #90e0ef;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article {
    width: 600px;
    height: 60px;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    border: 0;
    border-radius: 15px;
    margin-top: 10px;
}