body {
    background-color: #ade8f4;
}
.logo {
    text-align: center;
}

.main-content {
    display: flex;
}

.left-column {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px 10px;
    border-radius: 50px;
}

.weather {
    height: 30% ;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #90e0ef;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
}
.weather-object {
    background-color: #48cae4;
    border-radius: 10px;
    margin: 15px;
    width: 70px;
    height: 70px;
    gap: 0px;
}
.temprature {
    
}

.cloth-recomendation {
    height: 20%;
    width: 80%;
    background-color: #90e0ef;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
}

.other-place {
    height: 15%;
    width: 80%;
    background-color: #90e0ef;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
}

.right-column {
    width: 60%; 
}

.video {
    width: 750px;
    height: 500px;
    background-color: #90e0ef;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
}