body {
    background-color: #ade8f4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    text-align: center;
}

.main-content {
    display: flex;
}

.left-column {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px 10px;
    border-radius: 50px;
}

.place-name {
    width: 80%;
    height: 50px;
    background-color: #e5e5e5;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
}
.place-name p {
    padding-left: 20px;
}

.weather {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90e0ef;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
}

.weather-object {
    background-color: #48cae4;
    border-radius: 30px;
    margin: 15px;
    width: 150px;
    height: 150px;
    gap: 0px;
}


.cloth-recomendation {
    height: 200px;
    width: 80%;
    background-color: #90e0ef;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
    text-align: center;
}

.other-place {
    height: 150px;
    width: 80%;
    background-color: #90e0ef;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 20px;
    background-color: #48cae4;
}

.right-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-container {
    width: 750px;
    height: 500px;
    background-color: #90e0ef;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #48cae4;
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe {
    border-radius: 20px;
}