* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ade8f4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
}

.main-content {
  display: flex;
  height: 100vh;
}

.left-column {
  background-color: #002141;
  display: flex;
  width: 33%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.place-name {
  width: 80%;
  height: 50px;
  color: rgb(207, 207, 207);
  border-radius: 10px;
}
.place-name {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  height: auto;
}

.weather-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.weather-data-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px 50px;
}

.weather-stats {
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  padding: 5px;
  transition: ease-in-out 0.3s;
  user-select: none;
  cursor: pointer;
}
.weather-stats:hover {
  transform: scale(1.1); 
  color: #48cae4; 
  border-bottom-color: #48cae4; 
  text-shadow: 0 0 10px #48cae4;
}
.weather-stats:hover {
  scale: 105%;
}

.cloth-recomendation {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: xx-large;
  gap: 20px;
}

.other-place {
  background-color: #002141;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: rgb(202, 202, 202);
}

.clothes {
  display: flex;
  justify-content: space-between;
  font-size: 5rem;
}

.clothes-recomendation-title {
  font-size: 1.5rem;
  color: yellow;
}

.clothes-recomendation {
  user-select: none;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

.clothes-recomendation:hover {
  scale: 105%;
}

button {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 20px;
  background-color: #48cae4;
}

.right-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-container {
  width: 750px;
  height: 500px;
  background-color: #002141;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #48cae4;
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  border-radius: 20px;
  width: 700px;
  height: 460px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .place-name {
    font-size: 30px;
  }

  .weather-object {
    width: 100px;
    height: 100px;
  }
  .right-column {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
  }
  .left-column {
    background-color: #002141;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
  }

  .video-container {
    width: 95%;
    height: 300px;
  }
  .video{
    margin: 0;
  padding: 0;
  width: 300px;
  height: 200px;

  }
  iframe {
    border-radius: 20px;
    width: 500px;
    height: 400px;
    margin-left: 40px;
  }
  .location-video {
    margin-left: 40px;
    align-content: center;
  }
  .video-container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .place-name {
    font-size: 1.2rem;
  }

  .weather-object {
    width: 80px;
    height: 80px;
  }

  .cloth-recomendation,
  .other-place {
    font-size: medium;
  }

  button {
    width: 100%;
  }
  iframe {
    border-radius: 20px;
    width: 80%;
    height: 60%;
  }
}
